.file-preview {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

.file-preview .file-preview-frame {
    border: 1px solid #ddd;
    box-shadow: none;
    display: table;
    float: left;
    height: auto;
    margin: 8px 0;
    padding: 6px;
    text-align: center;
}
.file-preview .file-preview-frame img {
    max-width: 300px;
    max-height: 300px;
}
